#carcolor-box {
    border:1px solid #dcdcdc;
    width: 4.5rem;
    margin-left:0.5rem;
    margin-right: 1rem;
    height: 6.5rem;
}
    #carcolor-box #color {
        width: 4.5rem;
        height: 5.5rem;
        background-color: rgb(44, 68, 43);
    }
    #carcolor-box #color-text {
        margin: 0;
        background-color: #dcdcdc;
        font-family: helv;
        font-size: 0.6em;
        text-align: center;
        padding-top: 0.15rem;
        padding-bottom: 0.15rem;
    }