#carcolor-box {
    border:1px solid #dcdcdc;
    width: 4rem;
}
    #carcolor-box #color {
        width: 100%;
        height: 4.5rem;
        background-color: rgb(44, 68, 43);
    }
    #carcolor-box #color-text {
        margin: 0;
        background-color: #dcdcdc;
        font-family: helv;
        font-size: 0.6em;
        text-align: center;
        padding-top: 0.15rem;
        padding-bottom: 0.15rem;
    }