#carperformance-card-statuses tr {
    display: flex;
    justify-content: space-between;
    padding-top: 0.65rem;
}
    .miles::after {
        content: " miles";
    }
    .miles, .oilstatus, .enginestatus, .warningstatus {
        font-family: helv;
        font-size: 0.75em;
        opacity: 0.6;
    }
    svg {
        display: block;
        margin:auto;
        font-size: 1.5em;
        margin-bottom: 0.5rem;
    }
    .green {
        color:#00e676;
    }



    @media screen and (max-width:480px) {
        #carperformance-card-statuses tr {
            display: block !important;
        }
            .miles, .enginestatus, .warningstatus, .oilstatus {
                width: 50%;
                display: inline-block;
            }
            .miles svg, .enginestatus svg, .warningstatus svg, .oilstatus svg {
                display: inline;
                padding-right: 0.25rem;
                font-size: 1em;
                vertical-align: middle;
            }
    }
    