.gttable {
  margin: 0;
  padding: 0;
  color: #96a1aa;
  margin-bottom: 0.75rem;
}

.gttable-main-header {
  color: #c0cdd6;
  text-align: center;
  display: table-caption;
  font-family: 'helv';
  font-size: 0.7em;
  font-weight: lighter;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  background: #3b4247;
  background: radial-gradient(circle, #3b4247 65%, rgba(22, 24, 25, 0.5) 100%);
}

.gttable tr {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #50565a;
  justify-content: space-between;
  align-items: center;
  image-rendering: crisp-edges;
}

.gttable tr th {
  opacity: 0.65;
  font-size: 0.75em;
  text-align: left;
  font-family: 'helv-lt';
  letter-spacing: 0.01rem;
}

.gttable tr td {
  text-align: right;
  color: #e3f2fd;
  font-family: 'helv-md';
  font-size: 0.8em;
}
.gttable tr td::after {
  content: "✓";
  margin-left: 0.7rem;
  margin-right: 0.5rem;
  opacity: 0.4;
}
