@font-face {
  font-family: 'helv';
  src: url('./Helv-R.otf');
}
@font-face {
  font-family: 'helv-md';
  src: url('./Helv-Md.otf');
}
@font-face {
  font-family: 'helv-lt';
  src: url('./Helv-Lt.otf');
}
@font-face {
  font-family: 'helv-bd';
  src: url('./Helv-Bd.otf');
}
@font-face {
  font-family: 'gts-num';
  src: url('./gtseriesfont-num-001.otf');
}


body {
  background-color: rgb(67, 67, 67);
  padding: 1rem;
  color:#dcdcdc;
}

@media screen and (min-width:850px) {
  body {
    width:85%;
    margin:auto;
  }
}
